    <div class="footer">

      <ul>
        <li>The Girl Develop It Network</li>
        <li> <img src="../images/bullet.png" height="8" width="5" /> </li>
        <li><a href="http://www.girldevelopit.com/">New York</a></li>
        <li> <img src="../images/bullet.png" height="8" width="5" /> </li>
        <li><a href="http://www.meetup.com/Girl-Develop-It-Austin/">Austin</a></li>
        <li> <img src="../images/bullet.png" height="8" width="5" /> </li>
        <li><a href="http://www.meetup.com/Girl-Develop-It-Ottawa/">Ottawa</a></li>
        <li> <img src="../images/bullet.png" height="8" width="5" /> </li>
        <li><a href="http://www.meetup.com/Girl-Develop-It-Philadelphia/">Philadelphia</a></li>
        <li> <img src="../images/bullet.png" height="8" width="5" /> </li>
        <li><a href="http://www.meetup.com/Girl-Develop-It-Cincinnati/">Cincinnati</a></li>
        <li> <img src="../images/bullet.png" height="8" width="5" /> </li>
        <li><a href="http://www.girldevelopitpgh.com/">Pittsburgh</a></li>
      </ul>

    </div> <!-- /footer -->
  
  <!-- Typekit -->  
  <script type="text/javascript" src="http://use.typekit.com/igm2mgz.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  
  <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline 
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.7.2.min.js"><\/script>')</script> -->

  <!-- scripts concatenated and minified via build script
  <script src="js/plugins.js"></script>
  <script src="js/main.js"></script>
  -->

</body>
</html>