      <div id="footer" class="clear">

        <ul>
          <li>The Girl Develop It Network</li>
          <li> <img src="../images/bullet.png" height="8" width="5" /> </li>
          <li><a href="http://www.girldevelopit.com/">New York</a></li>
          <li> <img src="../images/bullet.png" height="8" width="5" /> </li>
          <li><a href="http://www.meetup.com/Girl-Develop-It-Austin/">Austin</a></li>
          <li> <img src="../images/bullet.png" height="8" width="5" /> </li>
          <li><a href="http://www.meetup.com/Girl-Develop-It-Ottawa/">Ottawa</a></li>
          <li> <img src="../images/bullet.png" height="8" width="5" /> </li>
          <li><a href="http://www.meetup.com/Girl-Develop-It-Philadelphia/">Philadelphia</a></li>
          <li> <img src="../images/bullet.png" height="8" width="5" /> </li>
          <li>Want a new chapter? Start One!</li>
        </ul>

      </div> <!-- /footer -->

    </div><!-- /container -->  
	</div> <!-- /white-bar -->

</body>
</html>