<!doctype html>

<html>
<head>
  <title>Girl Develop It Columbus</title>
  <meta name="description" content="A software and web development education program in Columbus, Ohio aimed at providing an open and supportive learning environment.">
  <meta name="author" content="Jen Myers">
  <link rel="stylesheet" type="text/css" media="screen" href="css/screen.css" />
  <script type="text/javascript" src="http://use.typekit.com/igm2mgz.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
</head>

<body>

  <div id="topbar"></div>