<div id="sidebar">
  
  <ul id="connect-sidebar">
    <li><a class="twitter" href="http://www.twitter.com/gdicbus">Twitter</a></li>
    <li><a class="facebook" href="http://www.facebook.com/girldevelopitcbus">Facebook</a></li>
    <li><a class="meetup" href="http://www.meetup.com/girldevelopitcbus/">Meetup</a></li>
    <li><a class="rss" href="http://girldevelopitcbus.com/rss/">RSS</a></li>
  </ul>

  <h3>Join</h3>

  <h4><a href="#">Hack Night &rarr;</a></h4>
  <h5>22 February 2012<br />Wild Goose Creative</h5>

  <h4><a href="#">Hack Night &rarr;</a></h4>
  <h5>22 February 2012<br />Wild Goose Creative</h5>

  <h4><a href="#">See all events &rarr;</a></h4>

  <h3>Wear</h3>

  <h4><a href="http://skreened.com/girldevelopitcbus/girl-develop-it-columbus-logo-shirt-code-like-a-girl">GDIC Shirts &rarr;</a></h4>
  <h5>Tell the world you code like a girl</h5>

  <h3>Explore</h3>

  <h4><a href="http://highvisibilityproject.org/">High Visibility Project &rarr;</a></h4>
  <h5>Watch the video stories of women in tech</h5>

</div><!-- /sidebar -->