<div class="sidebar">
  
  <ul class="connect-sidebar">
    <li><a class="twitter" href="http://www.twitter.com/gdicbus">Twitter</a></li>
    <li><a class="facebook" href="http://www.facebook.com/girldevelopitcbus">Facebook</a></li>
    <li><a class="meetup" href="http://www.meetup.com/girldevelopitcbus/">Meetup</a></li>
    <li><a class="rss" href="http://girldevelopitcbus.com/rss/">RSS</a></li>
  </ul>

  <h3><img class="sidebar-icon" height="14" src="../images/calendar-icon.png" width="14" /> Join</h3>

  <h4><a href="http://www.meetup.com/girldevelopitcbus/events/calendar/">GDIC Calendar &rarr;</a></h4>
  <h5>Register for a class, or drop in on meetup</h5>

  <h3><img class="sidebar-icon" height="12" src="../images/tshirt-icon.png" width="14" /> Wear</h3>

  <h4><a href="http://skreened.com/girldevelopitcbus/girl-develop-it-columbus-logo-shirt-code-like-a-girl">GDIC Shirts &rarr;</a></h4>
  <h5>Tell the world you code like a girl</h5>

  <h3><img class="sidebar-icon" height="11" src="../images/play-icon.png" width="14" /> Explore</h3>

  <h4><a href="http://highvisibilityproject.org/">High Visibility Project &rarr;</a></h4>
  <h5>Watch the video stories of women in tech</h5>

</div><!-- /sidebar -->