/* IMPORTS **********************************************************/
/* line 17, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* BASE **********************************************************/
/* line 10, ../sass/screen.scss */
html, body {
  height: 100%;
}

/* line 12, ../sass/screen.scss */
body {
  color: #222;
  font-family: "proxima-nova", sans-serif;
  font-size: 1em;
  line-height: 140%;
}

/* line 19, ../sass/screen.scss */
p {
  margin: 12px 0;
}

/* LAYOUT **********************************************************/
/* line 25, ../sass/screen.scss */
.container {
  *zoom: 1;
  margin: 0 auto;
  width: 960px;
}
/* line 38, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.container:after {
  content: "";
  display: table;
  clear: both;
}

/* line 31, ../sass/screen.scss */
.top-bar {
  background-color: #222;
  height: 6px;
}

/* line 36, ../sass/screen.scss */
.pink-wrapper {
  background-color: #fe5a61;
  width: 100%;
}
/* line 39, ../sass/screen.scss */
.pink-wrapper .header {
  *zoom: 1;
}
/* line 38, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.pink-wrapper .header:after {
  content: "";
  display: table;
  clear: both;
}
/* line 41, ../sass/screen.scss */
.pink-wrapper .header .nav {
  float: right;
  margin-top: 80px;
  padding: 0;
  width: 510px;
}
/* line 48, ../sass/screen.scss */
.pink-wrapper .topics {
  *zoom: 1;
  border-bottom: 1px solid #fe8389;
  border-top: 1px solid #fe8389;
  margin-bottom: 40px;
  padding-top: 40px;
  width: 100%;
}
/* line 38, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.pink-wrapper .topics:after {
  content: "";
  display: table;
  clear: both;
}
/* line 55, ../sass/screen.scss */
.pink-wrapper .topics .topic-box {
  float: left;
  text-align: center;
  width: 320px;
}

/* line 63, ../sass/screen.scss */
.black-wrapper {
  background-color: #222;
  padding: 30px 0;
  width: 100%;
}
/* line 67, ../sass/screen.scss */
.black-wrapper .about-us, .black-wrapper .connect, .black-wrapper .mail-list {
  float: left;
  width: 262px;
}
/* line 71, ../sass/screen.scss */
.black-wrapper .connect, .black-wrapper .mail-list {
  padding-left: 65px;
}
/* line 74, ../sass/screen.scss */
.black-wrapper .email, .black-wrapper .submit, .black-wrapper .contact-submit {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  -khtml-border-radius: 2px;
  border-radius: 2px;
  border: none;
}
/* line 78, ../sass/screen.scss */
.black-wrapper .email {
  background: white url("../images/email-icon.png") no-repeat 4px 4px;
  padding: 4px 4px 4px 34px;
  height: 18px;
  margin: 4px 0 0 0;
  width: 268px;
}
/* line 85, ../sass/screen.scss */
.black-wrapper .submit {
  background-color: #fff;
  clear: both;
  color: #222;
  float: right;
  font-size: 75%;
  letter-spacing: 1px;
  margin: 7px -42px 0;
  padding: 4px 8px;
  text-transform: uppercase;
}

/* line 98, ../sass/screen.scss */
label {
  display: block;
  font-size: 90%;
}

/* line 103, ../sass/screen.scss */
label.inline {
  display: inline;
}

/* line 108, ../sass/screen.scss */
.pretty-form ul.ss-choices {
  margin-bottom: 0;
}
/* line 111, ../sass/screen.scss */
.pretty-form input, .pretty-form textarea {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  -khtml-border-radius: 2px;
  border-radius: 2px;
  background: #eee;
  border: 1px solid #ccc;
  padding: 5px;
}
/* line 116, ../sass/screen.scss */
.pretty-form input .pretty-submit, .pretty-form textarea .pretty-submit {
  background-color: #eee;
  border: 1px solid #ccc;
  color: #222;
  font-size: 75%;
  letter-spacing: 1px;
  padding: 4px 8px;
  text-transform: uppercase;
}

/* line 128, ../sass/screen.scss */
.white-wrapper {
  background-color: #fff;
  width: 100%;
}
/* line 131, ../sass/screen.scss */
.white-wrapper .partners, .white-wrapper .team {
  float: left;
  width: 468px;
}
/* line 135, ../sass/screen.scss */
.white-wrapper .partners {
  margin-bottom: 20px;
  padding: 12px 16px 0 4px;
}
/* line 139, ../sass/screen.scss */
.white-wrapper .team {
  margin-bottom: 20px;
  padding: 12px 0px 0 4px;
}

/* line 145, ../sass/screen.scss */
.page-content {
  float: left;
  padding-bottom: 30px;
  width: 582px;
}

/* line 151, ../sass/screen.scss */
.sidebar {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  background-color: #222;
  float: right;
  margin: 30px 0;
  padding: 20px;
  width: 268px;
}

/* line 160, ../sass/screen.scss */
.post-single {
  margin-bottom: 80px;
}

/* line 164, ../sass/screen.scss */
.post-content {
  margin-bottom: 60px;
}

/* line 168, ../sass/screen.scss */
.footer {
  border-top: 1px solid #FFD6D7;
  margin: 30px auto;
  padding: 20px 0;
  text-align: center;
  width: 960px;
}

/* line 176, ../sass/screen.scss */
.register-button {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  margin-bottom: 20px;
  margin-top: 10px;
  padding: 10px;
  width: 108px;
}

/* line 184, ../sass/screen.scss */
#ss-form {
  margin-top: 30px;
}

/* TYPOGRAPHY **********************************************************/
/* line 190, ../sass/screen.scss */
h2 {
  border-bottom: 1px solid #ffd6d7;
  font-size: 220%;
  font-weight: bold;
  line-height: 100%;
  margin: 30px 0;
  padding-bottom: 10px;
}

/* line 199, ../sass/screen.scss */
h3 {
  border-bottom: 1px dotted #ffd6d7;
  font-size: 120%;
  font-weight: normal;
  letter-spacing: 1px;
  margin-bottom: 12px;
  margin-top: 10px;
  text-transform: uppercase;
}

/* line 209, ../sass/screen.scss */
h4 {
  font-size: 120%;
}

/* line 213, ../sass/screen.scss */
h5 {
  font-size: 85%;
  text-transform: uppercase;
}

/* line 218, ../sass/screen.scss */
.white-wrapper h2 {
  color: #8b2f33;
}

/* line 222, ../sass/screen.scss */
.white-wrapper h3 {
  border-bottom: none;
  color: #8b2f33;
  margin-top: 40px;
}

/* line 228, ../sass/screen.scss */
.black-wrapper h3 {
  border-bottom: none;
  color: #02aab5;
}

/* line 233, ../sass/screen.scss */
.black-wrapper.home h3 {
  margin-top: 10px;
}

/* line 237, ../sass/screen.scss */
.white-wrapper.home h3 {
  margin-top: 0px;
}

/* line 241, ../sass/screen.scss */
.sidebar h3 {
  border-bottom: 1px dotted #333;
  clear: both;
  color: #02aab5;
}

/* line 247, ../sass/screen.scss */
.sidebar h4 {
  color: #fff;
  margin-left: 20px;
}

/* line 252, ../sass/screen.scss */
.sidebar h5 {
  color: #999;
  margin-left: 20px;
}

/* line 257, ../sass/screen.scss */
.post-single h3 {
  color: #666;
  font-size: 90%;
  margin-top: -20px;
  margin-bottom: 30px;
}

/* line 264, ../sass/screen.scss */
.post-single h4 {
  text-align: right;
}

/* line 268, ../sass/screen.scss */
.nav li {
  display: inline;
  font-weight: 500;
  list-style: none;
  margin-left: 15px;
  text-transform: uppercase;
}

/* line 276, ../sass/screen.scss */
.tagline {
  color: #fff;
  font-family: "Pacifico", cursive;
  font-size: 200%;
  margin-bottom: 40px;
  text-align: center;
  text-shadow: 1px 1px 1px #666;
}

/* line 285, ../sass/screen.scss */
.callout {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  background: #eee;
  border: 1px solid #ddd;
  padding: 10px;
}

/* line 292, ../sass/screen.scss */
.black-wrapper p {
  color: #fff;
  font-size: 95%;
  line-height: 140%;
}

/* line 298, ../sass/screen.scss */
.connect li {
  display: inline;
  float: left;
  margin-right: 12px;
}

/* line 304, ../sass/screen.scss */
.connect-sidebar {
  margin-bottom: 75px;
}

/* line 308, ../sass/screen.scss */
.connect-sidebar li {
  display: inline;
  float: left;
  margin-left: 7px;
  margin-right: 7px;
}

/* line 315, ../sass/screen.scss */
.page-content ul {
  margin-bottom: 30px;
  margin-top: 10px;
}

/* line 320, ../sass/screen.scss */
.page-content h4 {
  color: #222;
  margin-top: 20px;
}

/* line 325, ../sass/screen.scss */
ul#mission li {
  background-image: url("../images/bullet.png");
  background-repeat: no-repeat;
  background-position: 10px 10px;
  margin-bottom: 15px;
  padding-left: 30px;
}

/* line 333, ../sass/screen.scss */
.partners li {
  display: inline;
  margin-right: 5px;
}

/* line 338, ../sass/screen.scss */
.footer li {
  color: #8B2F33;
  display: inline;
  font-family: "proxima-nova", sans-serif;
  font-size: 85%;
  font-weight: normal;
  letter-spacing: 1px;
  margin: 0 6px;
  text-transform: uppercase;
}

/* line 349, ../sass/screen.scss */
small {
  color: #666;
  font-size: 75%;
  text-transform: uppercase;
}

/* line 355, ../sass/screen.scss */
strong {
  font-weight: bold;
}

/* ANCHORS **********************************************************/
/* line 361, ../sass/screen.scss */
a {
  color: #00a9ab;
  border-bottom: 1px solid #ccc;
  text-decoration: none;
}

/* line 367, ../sass/screen.scss */
a:hover {
  color: #000;
  border-bottom: 1px solid #999;
}

/* line 372, ../sass/screen.scss */
a img {
  border: none;
}

/* line 376, ../sass/screen.scss */
a.logo {
  border-bottom: none;
}

/* line 380, ../sass/screen.scss */
.nav li a {
  border-bottom: none;
  color: #fff;
  padding: 4px;
  text-decoration: none;
}

/* line 387, ../sass/screen.scss */
.nav li a:hover {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  -moz-transition-property: all;
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.6s;
  -webkit-transition-duration: 0.6s;
  -o-transition-duration: 0.6s;
  transition-duration: 0.6s;
  background-color: #222;
  color: #02aab5;
  padding: 4px;
}

/* line 396, ../sass/screen.scss */
.nav li a.classes, .nav li a.community, .nav li a.resources, .nav li a.blog, .nav li a.contact {
  border-bottom: 2px solid #8b2f33;
}

/* line 400, ../sass/screen.scss */
.nav li a.classes:hover, #nav li a.community:hover, .nav li a.resources:hover, .nav li a.blog:hover, .nav li a.contact:hover {
  border-bottom: none;
}

/* line 404, ../sass/screen.scss */
.topics a, .connect a, .partners a, .footer a, .black-wrapper a, #sidebar a {
  border-bottom: none;
}

/* line 408, ../sass/screen.scss */
.footer a {
  color: #222;
}

/* line 412, ../sass/screen.scss */
.footer a:hover {
  color: #02aab5;
}

/* line 416, ../sass/screen.scss */
a .tagline {
  color: #fe8389;
}

/* line 420, ../sass/screen.scss */
a:hover .tagline {
  -moz-transition-property: all;
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.6s;
  -webkit-transition-duration: 0.6s;
  -o-transition-duration: 0.6s;
  transition-duration: 0.6s;
  color: #fff;
}

/* line 426, ../sass/screen.scss */
.black-wrapper a:hover {
  color: #fff;
}

/* line 430, ../sass/screen.scss */
.sidebar a {
  color: #fff;
  border-bottom: none;
}

/* line 435, ../sass/screen.scss */
.sidebar a:hover {
  color: #fe5a61;
}

/* line 439, ../sass/screen.scss */
#posts h2 a {
  border-bottom: none;
  color: #8b2f33;
}

/* line 444, ../sass/screen.scss */
#posts h2 a:hover {
  color: #222;
}

/* line 448, ../sass/screen.scss */
a div.register-button {
  background-color: #ededed;
  border-bottom: none;
}

/* line 453, ../sass/screen.scss */
a:hover div.register-button {
  background-color: #222;
  color: #fe5a61;
}

/* line 458, ../sass/screen.scss */
a.twitter:link, a.twitter:visited {
  background: url("../images/connect-sprite.png") 0 0 no-repeat;
  display: block;
  height: 53px;
  text-indent: -9999px;
  width: 53px;
}

/* line 466, ../sass/screen.scss */
a.twitter:hover, a.twitter:active {
  background: url("../images/connect-sprite.png") 0 -54px no-repeat;
  display: block;
  height: 53px;
  text-indent: -9999px;
  width: 53px;
}

/* line 474, ../sass/screen.scss */
a.facebook:link, a.facebook:visited {
  background: url("../images/connect-sprite.png") -54px 0 no-repeat;
  display: block;
  height: 53px;
  text-indent: -9999px;
  width: 53px;
}

/* line 482, ../sass/screen.scss */
a.facebook:hover, a.facebook:active {
  background: url("../images/connect-sprite.png") -54px -54px no-repeat;
  display: block;
  height: 53px;
  text-indent: -9999px;
  width: 53px;
}

/* line 490, ../sass/screen.scss */
a.meetup:link, a.meetup:visited {
  background: url("../images/connect-sprite.png") -107px 0 no-repeat;
  display: block;
  height: 53px;
  text-indent: -9999px;
  width: 53px;
}

/* line 498, ../sass/screen.scss */
a.meetup:hover, a.meetup:active {
  background: url("../images/connect-sprite.png") -107px -54px no-repeat;
  display: block;
  height: 53px;
  text-indent: -9999px;
  width: 53px;
}

/* line 506, ../sass/screen.scss */
a.rss:link, a.rss:visited {
  background: url("../images/connect-sprite.png") -160px 0 no-repeat;
  display: block;
  height: 53px;
  text-indent: -9999px;
  width: 53px;
}

/* line 514, ../sass/screen.scss */
a.rss:hover, a.rss:active {
  background: url("../images/connect-sprite.png") -160px -54px no-repeat;
  display: block;
  height: 53px;
  text-indent: -9999px;
  width: 53px;
}

/* line 522, ../sass/screen.scss */
h1 a {
  background: url("../images/logo-gdic.png") 0 0 no-repeat;
  border-bottom: none;
  display: inline-block;
  float: left;
  height: 153px;
  text-indent: -9999px;
  width: 438px;
}

/* line 532, ../sass/screen.scss */
h1 a:hover {
  border-bottom: none;
}

/* IMAGES **********************************************************/
/* line 538, ../sass/screen.scss */
.team img {
  border: 1px solid #ccc;
  float: left;
  margin-right: 20px;
  padding: 4px;
}

/* line 545, ../sass/screen.scss */
.sidebar-icon {
  margin-right: 5px;
}

/* COMMENTS **********************************************************/
/* line 551, ../sass/screen.scss */
#disqus_thread {
  border-top: 1px dotted #ffd6d7;
}

/* line 555, ../sass/screen.scss */
#dsq-footer {
  font-size: 90%;
}

/* line 559, ../sass/screen.scss */
#dsq-footer a {
  border-bottom: none;
}

/* line 563, ../sass/screen.scss */
#dsq-content h3 {
  font-size: 80%;
}

/* line 567, ../sass/screen.scss */
#dsq-sort-by {
  margin-left: 10px;
}

/* line 571, ../sass/screen.scss */
#dsq-content .dsq-post-tools li.dsq-share-on h4 {
  margin-top: 0;
}
