{% include header.html %}

  <div class="container">
    <h1><a href="/">Girl Develop It Columbus</a></h1>
    <ul id="nav">
      {% if page.title == 'Classes' %}
        <li><a class="classes" href="../classes/">Classes</a></li>
      {% else %}
        <li><a href="../classes/">Classes</a></li>
      {% endif %}
      
      {% if page.title == 'Community' %}
        <li><a class="community" href="../community/">Community</a></li>
      {% else %}
        <li><a href="../community/">Community</a></li>
      {% endif %}
      
      {% if page.title == 'Resources' %}
        <li><a class="resources" href="../resources/">Resources</a></li>
      {% else %}
        <li><a href="../resources/">Resources</a></li>
      {% endif %}
      
      {% if page.title == 'Blog' %}
        <li><a class="blog" href="../blog/">Blog</a></li>
      {% else %}
        <li><a href="../blog/">Blog</a></li>
      {% endif %}
      
      {% if page.title == 'Contact' %}
        <li><a class="contact" href="../contact/">Contact</a></li>
      {% else %}
        <li><a href="../contact/">Contact</a></li>
      {% endif %}
    </ul> <!-- /nav -->
  </div><!-- /container -->

  <div class="white-bar clear">
    <div class="container">
      
      <div id="page-content">

        <h2>{{ page.title }}</h2>

        {{ content }}
          
      </div><!-- /page-content -->

      {% include sidebar.html %}
      
      {% include footer.html %}